{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav class="nav">
        <div class="nav__container">
          <a href="/" class="nav__brand">{{ site.title }}</a>
          <div class="nav__links">
            <a href="/research">Research</a>
            <a href="/projects">Projects</a>
            <a href="/publications">Publications</a>
            <a href="/blog">Blog</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>